<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<div align="center">
  image de pizza

  <form class="form-login"
        (ngSubmit)="authenticateTheUser()"
        [formGroup]="loginForm">

    <h1 class="h3 mb-3 font-weight-normal">
      <a [routerLink]="['/register']">
        <span class="message">noAccountRegister</span>
      </a>
    </h1>
    <br/>

    <label for="username" class="sr-only">
      <span class="message">username</span>
    </label>
    <input id="username"
           class="form-control"
           type="text"
           placeholder="Username"
           autofocus
           formControlName="username"
           [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
    <div *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)"
         class="alert alert-danger">

      <div *ngIf="f.username.errors.required">
        Username is required.
      </div>
      <div *ngIf="f.username.errors.minlength">
        Username must be at least 4 characters long.
      </div>
    </div>
    <br/>

    <label for="password" class="sr-only">
      <span class="message">password</span>
    </label>
    <input id="password"
           class="form-control"
           type="password"
           placeholder="Password"
           formControlName="password"
           [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
    <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)"
         class="alert alert-danger">

      <div *ngIf="f.password.errors.required">
        Password is required.
      </div>
      <div *ngIf="f.password.errors.minlength">
        Password must be at least 4 characters long.
      </div>
    </div>
    <br/>

    <label>
      <input type="checkbox" name="remember-me">
      <span class="message">rememberMe</span>
    </label>

    <input class="btn btn-lg btn-primary btn-block"
           type="submit"
           value="login"
           [disabled]="!loginForm.valid" />
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
  </form>
  <p> debug : {{ errorMessage }}</p>
</div>
